*{
	margin:0;
	padding:0;
	font-family:Century Gothic;
}
body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
/* Navbar */
.main
{
	height: 25%;
}
.main nav ul
{
	float: right;
	list-style-type: none;
	margin-top: 2.5%;
	margin-right: 2%;
}
.main nav ul li
{
	font-size: 1.3em;
	display: inline-block;
}
.main nav ul li a
{
	text-decoration: none;
	color: #fff;
	padding: 0.5em;
	transition: 0.6s ease;
}
.main nav ul li a:hover
{
	color: #ed6b71;
}

.main .logo
{
	float: left;
	padding-left: 2em;

}

/*                                    index.html                                   */

/* Section */
.content
{
	text-align: center;
	
}
.content h1{
     color: #fff;
     font-size: 4em;
     font-family: cursive;
}

.content p
{
	margin-top: 3%;
	width:80%;
	font-weight: bold;
	padding-left:10%;
	text-align: justify;
	color: #ebedeb;
	font-size: 2em;
	font-family: cursive;
	padding-bottom: 10%;

}

.div-offering
{
	width: 99.6%;
}

.btn-offering
{
	width: 30%;
	height: 3em;
	font-size: 1.5em;
	background-color: seagreen;
	color: seashell;
	margin-left: 1%;
	margin-top: 5%;
	margin-bottom: 2%;
	font-weight: bold;
}

/*                            Menu.html                     */


.menu
{
	margin-top: 12%;
}

table
{
	margin-bottom: 1%; 	
	width: 100%;
}

ol
{
	margin-top: 5%;
	padding-top: 2%;
	padding-left: 5%;
	font-size: 1.1em;
	font-weight: bold;
}

ol li
{
	color: white;
}

td img
{
	border:2px solid white;
	margin-top: 5%;
}

td
{
	padding-left: 8%;
	width: auto;
}



button
{
	height: 3em;
	width: 7em;
	margin-top: 10%;
	margin-left: 20%;
	background-color: green;
	color: white;
	border: 2px solid white;
}

button:hover
{
	animation-delay: 2s;
	color: green;
	background-color: white;
	border:3px solid green;

}


.dish-name
{
	font-size: 1.5em;
	color: white;
}

/*                       AboutUs.html                */

.head1
{
	margin-top: 10%;
	color: #ebedeb;
	font-size: 4em;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}

.head2
{
	margin-top: 5%;
	color: #ebedeb;
	font-size: 4em;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}

.outer
{
	width: auto;
	height: 70%;
	margin-top: 1%;
}

.slider
{
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
}

iframe
{
	width: 45%;
	margin-top: 3%;
	margin-left: 3%;
	float: left;
	height: 27em;
	border: 2px solid grey;
}
.para1
{
	width: 40%;
	float: right;
	margin-top: 3%;
	margin-right: 4%;
	height: auto;
}

.para2
{
	width: 40%;
	float: left;
	margin-top: 3%;
	margin-left: 4%;
	height: auto;
}

.para3
{
	width: 40%;
	float: right;
	margin-top: 3%;
	margin-right: 4%;
	height: auto;
}

.para1,.para2,.para3 p
{
	font-weight: bold;
	text-align: justify;
	color: #ebedeb;
	font-size: 1.9em;
    font-family: cursive;
}

video
{
	float: right;
	margin-right: 4%;
	margin-top: 3%;
}

embed
{
	width: 45%;
	margin-top: 3%;
	margin-left: 3%;
	float: left;
	height: 27em;
	border: 2px solid grey;
}

.btn-audio
{
	width: 20%;
	height:10%;
	font-size: 2em;
	font-family:Century Gothic;
	border-radius: 2em;
	margin-top: 3%;
	margin-bottom:5%;
	margin-left: 40%;
	color: white; 
}

.item h2
{
	color: white;
	font-family: Century Gothic;
}

/*                                     Register.html                                */
.container
{
    width: 45%;
    margin-left: 28%;
    margin-top: 1%;
	height: 100%;
	border: 5px solid thistle;
    border-radius: 2em;
}

.register-table
{
	margin-top: 2%;
	margin-left: 10%;
}
.header
{
    color: wheat;
    font-size: 2.5em;
	margin-left: 40%;
	
}
.lbl,label
{
	font-size: 1.5em;
	color: #ebedeb;
}
.container td
{
    width: 10%;
    padding-top: 2%;
}
input,textarea
{
	border: none;
	height: 2em;
	width: auto;
}
.file
{
	color: white;
}
.register-submit
{
	height: 3em;
	width: 7em;
	font-size: 1.1em;
	margin-left: 25%;
	border-radius: 2em;
	margin-top: 2%;
	margin-bottom: 3%;
}

/*                                        Login.html                                  */

.user,input[type=password]
{
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	color: black;
	
}

.login-div
{
	border: 5px solid thistle;
	border-radius: 5em;
	width: 50%;
	margin-top: 12%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1.5%;
	height: auto;
}

.login-head
{
	color: wheat;
	margin-left: 35%;
	text-decoration: underline;
}

.login-table
{
	font-size: 1.5em;
	color: white;
	font-weight: bold;	
}

.login-table tr td
{
	padding-left:15%;
	padding-top: 2%;
	width: 10%;
}

.login-submit
{
	width:5em;
	height: 2em;
	margin-left: 35%;
	margin-bottom: 3%;
}

.register-link
{
	color: tomato;
	margin-left: 25%;
	margin-bottom: 5%;
}
.register-link:hover
{
	color: tomato;
}

/*                                      DOMparser.html                                 */
  
.dom-table
{
	margin-top: 3%;
	margin-left: 1%;
	width:98%;
	color: wheat;
	border:3px solid thistle;

}

.dom-table th,.dom-table td
{
	border:1px solid thistle;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding-left: 1%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.dom-header
{
	color: whitesmoke;
	text-align: center;
	font-size: 3em;
	text-decoration: underline;
}
